html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-primary: #24292e;
    --background: #e9e9ed;
    /* --background: white; */
    --shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: white;
    --background: #182a41;
    --shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px 0px;
  }
}
body {
  color: var(--text-primary) !important;
  background-color: var(--background) !important;
}
.content {
  min-height: calc(100vh - 95px);
}

#footer {
  width: 100%;
  height: 2.5rem;
  border-top: 1px solid var(--text-primary);
  text-align: center;
}
